*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/connected.png");
}

a {
    text-decoration: none;
}

.container ,footer{
    font-family: 'Poppins';
    text-align: center;
    margin: 35px 0;
}

.container h1 {
    font-size: 1rem;
    margin-top: 20px;
}

.container img {
    width: 96px;
    height: 96px;
    border-radius: 100%;
}

.link {
    width: 50%;
    height: 60px;
    background: #fdcb25;
    margin: 30px auto;
    color: #fff;
    line-height: 60px;
    font-size: 1rem;
    transition: .5s;
}

.link:hover{
    color: #fdcb25;
    background-color: #fff;
    border: 2px solid#fdcb25;
    cursor: pointer;
    transform: scale(1.04);
}

footer {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    left: 25%;
}

footer p{
    font-size: .7rem;
    color: #afafaf;
    padding: 10px 18px;
}
